.user-message {
    background-color: #2d2e32;
    color: #fff;
    padding: 10px 15px;
    border-radius: 16px;
    width: fit-content;
    max-width: 65%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.assistant-message {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px 14px;
    border-radius: 16px;
    width: fit-content;
    max-width: 65%;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}
